<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Popup Modal Box</title>
    <link rel="stylesheet" href="error.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
  </head>
  <body>
    <section>
      <button class="show-modal">Save changes</button>
      <span class="overlay"></span>

      <div class="modal-box">
        <i class="fa-solid fa-circle-xmark"></i>
        <h2>Error</h2>
        <h3>Something went wrong please try again</h3>

        <div class="buttons">
          <button class="close-btn">Back to Home Page</button>
        </div>
      </div>
    </section>

    <script src="error.js"></script>

  </body>
</html>
